.logcard{
  margin:auto;
  width:50%;
  padding:10px;
  background-color: white;
  opacity:.7;
  margin-top: 200px;
}

.navbar {
  background-color: #282c34;
  display: block;
  justify-content: center;
  align-self: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 130px;
  width: 100vw;
}
.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 50px;
}
.logo-text {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.logo-text2 {
  font-size: 10px;
  margin-top: 50px;
  margin-left: -50px;
  z-index: 1;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  background-color: #1d1f24;
}
.nav-btn {
  margin: 5px;
  background-color: #1d1f24;
  color: white;
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-color: transparent;
}
.nav-btn:hover {
  background-color: aliceblue;
  color: black;
}
.align-btn-nav {
  display: flex;
  flex-direction: row;
}

.dashboard-container {
  width: 100vw;
  
}
.img-cont {
  background-color: black;
  height:250px;
}
.bookimg {
  object-fit: fill;
  width: 100vw;
  height: 250px;
  background-color: black;
  opacity: 0.3;
  filter: grayscale(40%);
}
.description {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  width: 110px;
  height: 120px;
  display: block;
  background-color: rgb(39, 39, 37);
  z-index: 1;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: -200px;
  margin-left: 15%;
  color: white;
  padding: 10px;
  font-size: 1vw;
}
.desc-text {
  margin-left: 5%;
  margin-top: 10%;
  font-size: 12px;
}
/* .date-picker {
  height: 50px;
  margin: 15px;
  width: 15vw;
  text-align: center;
}
.calendar-text {
  color: black;
  opacity: 1;
  margin-left: 20px;
  font-size: 2vw;
} */
.card-container {
  width: 100%;

  height: auto;
  display: block;
  margin-left: 45px;
 
}
.maid-card {
  margin: 30px;
  width: 50vw;
  height:500px;
  border-radius: 10px;
  background-color: #1b1d20;
  color: white;
  text-align: center;
  margin-right: 30px;
}
.cardimg {
  width: 100%;
  height:350px;
  border-radius: 10px 10px 0 0;
}
.card-text{
  font-size: 20px;
}