.logcard {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: white;
  opacity: 0.7;
  margin-top: 200px;
}

.navbar {
  background-color: #282c34;
  display: block;
  justify-content: center;
  align-self: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 130px;
  width: 100vw;
}
.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 50px;
}
.logo-text {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.logo-text2 {
  font-size: 10px;
  margin-top: 50px;
  margin-left: -50px;
  z-index: 1;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  background-color: #1d1f24;
}
.nav-btn {
  margin: 5px;
  background-color: #1d1f24;
  color: white;
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-color: transparent;
}
.nav-btn:hover {
  background-color: aliceblue;
  color: black;
}
.align-btn-nav {
  display: flex;
  flex-direction: row;
}

.dashboard-container {
  width: 100vw;
}
.img-cont {
  background-color: black;
  height: 650px;
  
}
.bookimg {
  object-fit: fill;
  width: 100vw;
  height: 650px;
  background-color: black;
  opacity: 0.3;
  filter: grayscale(40%);
}
.description {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  width: 410px;
  height: 390px;
  display: block;
  background-color: rgb(39, 39, 37);
  z-index: 1;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: -500px;
  margin-left: 15%;
  color: white;
  padding: 10px;
}
.desc-text {
  margin-left: 5%;
  margin-top: 10%;
  font-size: 32px;
}

.card-container {
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.maid-card {
  margin: 30px;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  background-color: #1b1d20;
  color: white;
  text-align: center;
  margin-right: 30px;
}
.card-bodyx {
  margin-top: 20px;
}
.card-bodyx:hover {
  transform: scale(1.1);
  margin-bottom: 15px;
}
.cardimg {
  width: 100%;
  height: 350px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  object-fit: cover;
}
.card-text {
  font-size: 20px;
}
.sign-in-container {
  border-radius: 40px;
  height: 500px;
  width: 600px;
  color: white;
  margin: auto;
  font-weight: bold;
  align-self: center;
  margin-top: 400px;
  background-color: #1b1d20;
}
.sign-up-container {
  border-radius: 40px;
  height: 600px;
  width: 700px;
  color: white;
  margin: auto;
  font-weight: bold;
  align-self: center;
  margin-top: 400px;
  background-color: #1b1d20;
}

.form-container {
  padding: 10px;
  margin: auto;
  width: 300px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.login-logo {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.input-box {
  height: 30px;
  width: 300px;
  margin: 10px;
  font-size: medium;
  border-radius: 20px;
  padding-left: 10px;
  background-color: #282c34;
  color: white;
  box-shadow: inset black;
}
.btn-sign {
  display: flex;
  width: 300px;
}
.sign-in-btn {
  height: 40px;
  width: 100px;
  margin-left: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: #282c34;
  border-color: transparent;
  color: white;
}

.sign-in-btn:hover {
  color: #1b1d20;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-color: transparent;
}
.booking-form {
  background-color: #1b1d20;
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 150px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.book-label {
  width: 100px;
  font-size: 24px;
}
.book-input {
  width: 100px;
}
.form-input {
  width: 390px;
  height: 40px;
  margin-left: 0px;
  margin-top: 8px;
  border-radius: 20px;
  padding: 5px;
}
.book-btn {
  width: 200px;
  height: 50px;
  margin-top: 205px;
  border-radius: 20px;
  background-color: #282c34;
  color: white;
  border-color: transparent;
}
.book-btn:hover {
  background-color: white;
  color: #1b1d20;
}
@media (max-width: 700px) {
  .card-container {
    height: auto;
    display: block;
    margin-left: 150px;
    margin-bottom: 5px;
  }
  .img-cont {
    background-color: black;
    height: 250px;
    
  }
  .bookimg {
    object-fit: fill;
    width: 100vw;
    height: 250px;
    background-color: black;
    opacity: 0.3;
    filter: grayscale(40%);
  }
  .description {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    width: 110px;
    height: 190px;
    display: block;
    background-color: rgb(39, 39, 37);
    z-index: 1;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: -220px;
    margin-left: 12%;
    color: white;
    padding: 10px;
  }
  .desc-text {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 15px;
  }
  
}
